.design.section {
  overflow: hidden;
}

.design.section .text.block {
  align-self: center;
  grid-column: 1;
  grid-row: 2;
}

.design.section .text.block h2 {
  color: #E9B80A;
}

.design.section .background.block {
  grid-column: 3;
  grid-row: 1 / 4;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}

.design.section .background.block img {
  width: 100%;
  height: 100%;
}